/* Author: Htmlhero (http://htmlhero.ru) */

/* Include
*******************************/

.i-clear {
	zoom: 1;
}
.i-clear:before,
.i-clear:after {
	content: '';
    display: table;
}
.i-clear:after {
	clear: both;
}

.i-dib {
	display: -moz-inline-stack;
	display: inline-block;
}
.ie7 .i-dib {
	display: inline;
	zoom: 1;
}

.i-valign {
	vertical-align: middle;
}
.i-valign-helper {
	width: 0;
	height: 100%;
	vertical-align: middle;
}

.i-pie {
	behavior: url(css/PIE.htc);
}

/* Widgets
*******************************/

/* Links */

a, .b-link {
	color: #2aa951;
	text-decoration: underline;
	cursor: pointer;
}
a:hover, .b-link:hover {
	color: #1dc154;
}
.b-link._pseudo {
	text-decoration: none;
	border-bottom: 1px dotted;
	zoom: 1;
}
.b-link._pseudo:hover {
	border-color: transparent;
}

/* Forms */

.ie7 .b-input {
	margin-right: 9px;
}
	.b-input input,
	.b-input textarea {
		width: 100%;
		background: #fff;
		color: #515151;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 5px 0 5px 7px;
		border: 1px solid #949494;
		border-radius: 4px;
		box-shadow: inset -2px 2px 2px #ddd;
		resize: none;
	}
	.ie7 .b-input input,
	.ie7 .b-input textarea {
		float: left;
	}
	.b-input textarea {
		height: 70px;
		display: block;
	}
	.b-input ._placeholder {
		font-family: 'OpenSansItalic', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #898989;
	}
	.b-input input:-moz-placeholder,
	.b-input textarea:-moz-placeholder {
		font-family: 'OpenSansItalic', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #898989;
	}
	.b-input ::-webkit-input-placeholder {
		font-family: 'OpenSansItalic', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #898989;
	}
	.b-input :-ms-input-placeholder {
		font-family: 'OpenSansItalic', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #898989;
	}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

.b-input-box {
	width: 13px;
	height: 13px;
	vertical-align: text-top;
}

.b-select select {
	width: 100%;
	height: 30px;
	background: #fff;
	color: #666;
	display: block;
	padding: 6px 0;
	border: 1px solid #ccc;
}

/* Buttons */

.b-btn {
	background: none;
	text-align: center;
	vertical-align: baseline;
	text-decoration: none;
	white-space: nowrap;
	position: relative;
	border: 0;
	cursor: pointer;
}
.b-btn:hover {
	text-decoration: none;
}

.b-btn._default {}
	.b-btn._default .b-btn__wrap {
		background: #33b15d;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#33b15d), to(#259b4d));
		background: -webkit-linear-gradient(#33b15d, #259b4d);
		background: -moz-linear-gradient(#33b15d, #259b4d);
		background: -o-linear-gradient(#33b15d, #259b4d);
		background: linear-gradient(#33b15d, #259b4d);
		-pie-background: linear-gradient(#33b15d, #259b4d);
		font-family: 'OpenSansSemibold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #fff;
		position: relative;
		padding: 5px 9px 6px;
		border-radius: 5px;
		box-shadow: 1px 1px 1px rgba(2, 3, 3, .6);
	}
	.b-btn._default:hover .b-btn__wrap {
		background: #40c574;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#40c574), to(#2eb460));
		background: -webkit-linear-gradient(#40c574, #2eb460);
		background: -moz-linear-gradient(#40c574, #2eb460);
		background: -o-linear-gradient(#40c574, #2eb460);
		background: linear-gradient(#40c574, #2eb460);
		-pie-background: linear-gradient(#40c574, #2eb460);
	}

/* Text */

.b-text {}
	.b-text h1,
	.b-text h2,
	.b-text h3,
	.b-text h4,
	.b-text h5,
	.b-text h6,
	.b-text p,
	.b-text ul,
	.b-text ol {
		margin: 0 1.5em;
	}
	.b-text li ul,
	.b-text li ol {
		margin: 0;
	}
	.b-text ul {
		list-style: disc;
	}
	.b-text ol {
		list-style: decimal;
	}
	.b-text li {
		margin-left: 2em;
	}

/* Other */

.b-head-logo {}
	.b-head-logo img {
		width: 220px;
		height: 54px;
		display: block;
	}

.b-head-slogan {
	font-family: 'OpenSansSemiboldItalic', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	font-size: 19px;
	line-height: 23px;
	color: #256939;
}
	.b-head-slogan p {
		text-align: right;
	}
	.b-head-slogan p:first-child {
		text-align: left;
	}

.b-head-contacts {
	background: url(../img/head_contacts.png) 0 6px no-repeat;
	text-align: right;
	padding-left: 24px;
}
	.b-head-contacts__tel {
		font-size: 28px;
	}
	.b-head-contacts__code {
		font-family: 'OpenSansCondensedLight', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	}
	.b-head-contacts__num {
		font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	}
	.b-head-contacts__more {
		margin-top: 1px;
	}

.b-head-panel {
	background: #fff url(../img/head_panel.gif) repeat-x;
	box-shadow: 0 1px 1px rgba(2, 3, 3, .2);
	-pie-box-shadow: 0 0 1px 1px #ccc;
}
	.b-head-panel__glare {
		background: url(../img/head_panel_center.png) 50% 0 no-repeat;
	}
	.b-head-panel__center {
		width: 950px;
		height: 80px;
		margin: auto;
	}
	.b-head-panel .b-head-logo {
		float: left;
		margin: 13px 0 0 5px;
	}
	.b-head-panel .b-head-contacts {
		float: right;
		margin-top: 11px;
	}
	.b-head-panel .b-head-slogan {
		overflow: hidden;
		padding: 16px 89px 0;
	}

.b-head-menu {
	font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 1px 1px rgba(2, 3, 3, .2);
	-pie-box-shadow: 0 0 1px 1px #ccc;
}
	.b-head-menu__table {
		width: 100%;
		table-layout: fixed;
	}
	.b-head-menu a {
		background: #20b25d url(../img/head_menu.png);
		color: #d9e7dd;
		text-decoration: none;
		display: block;
		padding: 5px 5px 7px;
		border-left: 1px solid #5cbc79;
		border-right: 1px solid #3b754c;
	}
	.b-head-menu td:first-child a {
		border-left-color: transparent;
		border-bottom-left-radius: 3px;
	}
	.b-head-menu td:last-child a {
		border-right-color: transparent;
		border-bottom-right-radius: 3px;
	}
	.b-head-menu a:hover {
		background-position: 0 -35px;
        color: #fff;
	}
	.b-head-menu ._active {
		background-position: 0 -70px;
		color: #fff;
		border-left-color: #ffe64d;
		border-right-color: #c19b1c;
	}
	.b-head-menu ._active:hover {
		background-position: 0 -105px;
	}

.b-foot-copy {
	font-size: 12px;
}

.b-foot-search {}
	.b-foot-search__input {
		width: 185px;
		float: left;
	}
	.b-foot-search .b-btn {
		float: left;
		margin-left: 7px;
	}

.b-foot-made {
	font-size: 12px;
}
	.b-foot-made p {
		margin-top: 3px;
	}
	.b-foot-made p:first-child {
		margin-top: 0;
	}
	.b-foot-made a {
		color: #515151;
	}
	.b-foot-made a:hover {
		text-decoration: none;
	}

.b-index-title {
	font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	font-size: 23px;
    font-weight: normal;
	color: #149c3c;
	text-align: center;
	text-transform: uppercase;
}

.b-banner-slider-item {
	background: #fff;
	text-decoration: none;
	display: block;
	border-radius: 5px;
}
	.b-banner-slider-item__title {
		height: 51px;
		font-size: 18px;
		line-height: 21px;
		font-weight: bold;
		text-align: center;
		display: block;
	}
	.b-banner-slider-item__pic {
		height: 254px;
		display: block;
		overflow: hidden;
		border-radius: 0 0 5px 5px;
	}

.b-banner-slider-nav-item {
	cursor: pointer;
}
	.b-banner-slider-nav-item__active {
		display: none;
	}
	.b-banner-slider-nav-item__normal div,
	.b-banner-slider-nav-item__active div {
		width: 18px;
		height: 18px;
		position: relative;
		border-radius: 9px;
	}
	.b-banner-slider-nav-item__normal div {
		background: #a4bdac;
	}
	.b-banner-slider-nav-item__active div {
		background: #ffcb08;
	}

.b-banner-slider-nav-item._active {}
	.b-banner-slider-nav-item._active .b-banner-slider-nav-item__normal {
		display: none;
	}
	.b-banner-slider-nav-item._active .b-banner-slider-nav-item__active {
		display: block;
	}

.b-banner-slider-nav {
	text-align: center;
}
	.b-banner-slider-nav__center {
		vertical-align: top;
		position: relative;
		padding: 4px;
	}
	.b-banner-slider-nav__bg {
		width: 100%;
		height: 100%;
		background: #37433e;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 13px;
	}
	.b-banner-slider-nav__list {
		position: relative;
	}
		.b-banner-slider-nav__list li {
			float: left;
			margin-left: 3px;
		}
		.b-banner-slider-nav__list li:first-child {
			margin-left: 0;
		}

.b-banner-slider {
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	box-shadow: 0 1px 9px rgba(2, 3, 3, .5);
}
	.b-banner-slider__list {
		width: 2000em;
		overflow: hidden;
		position: relative;
	}
	.b-banner-slider .b-banner-slider-item {
		width: 390px;
		float: left;
	}
	.b-banner-slider__arr {
		width: 38px;
		height: 38px;
		position: absolute;
		top: 8px;
		cursor: pointer;
	}
	.b-banner-slider__arr:hover {
		background-position: 0 -38px;
	}
	.b-banner-slider__arr._prev {
		background-image: url(../img/banner_slider_arr_prev.png);
		left: 7px;
	}
	.b-banner-slider__arr._next {
		background-image: url(../img/banner_slider_arr_next.png);
		right: 7px;
	}
	.b-banner-slider .b-banner-slider-nav {
		width: 100%;
		position: absolute;
		bottom: 10px;
		left: 0;
	}

.b-rubric-menu-title {
	border-radius: 5px 5px 0 0;
}
	.b-rubric-menu-title__icon {
		width: 60px;
		height: 51px;
		font-size: 0;
		text-align: center;
		float: left;
	}
	.b-rubric-menu-title__name {
		height: 51px;
		font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		font-size: 19px;
        font-weight: normal;
		line-height: 24px;
		color: #fff;
		text-transform: uppercase;
		display: block;
		padding-right: 10px;
		margin-left: 60px;
	}

.b-rubric-menu-item {
	font-weight: normal;
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	color: #fff;
	text-decoration: none;
	display: block;
	position: relative;
}
.b-rubric-menu-item:hover {
	color: #fff;
	z-index: 1;
	padding: 0 4px;
	margin: 0 -4px;
	box-shadow: 0 1px 1px rgba(2, 3, 3, .6);
}
	.b-rubric-menu-item__arr {
		width: 48px;
		height: 51px;
		background: 50% 50% no-repeat;
		float: left;
	}
	.b-rubric-menu-item__name {
		height: 51px;
		display: block;
		margin-left: 48px;
	}

.b-rubric-menu {}

.b-rubric-menu._green {}
	.b-rubric-menu._green .b-rubric-menu-title {
		background: #3b7e4f;
	}
	.b-rubric-menu._green .b-rubric-menu-item {
		background: #26a24f;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#38c567), to(#17843b));
		background: -webkit-linear-gradient(#38c567, #17843b);
		background: -moz-linear-gradient(#38c567, #17843b);
		background: -o-linear-gradient(#38c567, #17843b);
		background: linear-gradient(#38c567, #17843b);
		-pie-background: linear-gradient(#38c567, #17843b);
	}
	.b-rubric-menu._green .b-rubric-menu-item:hover {
		background: #30b761;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#43d17c), to(#1c9d47));
		background: -webkit-linear-gradient(#43d17c, #1c9d47);
		background: -moz-linear-gradient(#43d17c, #1c9d47);
		background: -o-linear-gradient(#43d17c, #1c9d47);
		background: linear-gradient(#43d17c, #1c9d47);
		-pie-background: linear-gradient(#43d17c, #1c9d47);
	}
	.b-rubric-menu._green .b-rubric-menu-item__arr {
		background-image: url(../img/rubric_menu_item_arr_green.png);
	}

.b-rubric-menu._orange {}
	.b-rubric-menu._orange .b-rubric-menu-title {
		background: #6c6553;
	}
	.b-rubric-menu._orange .b-rubric-menu-item {
		background: #f2a125;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#fed14a), to(#e67403));
		background: -webkit-linear-gradient(#fed14a, #e67403);
		background: -moz-linear-gradient(#fed14a, #e67403);
		background: -o-linear-gradient(#fed14a, #e67403);
		background: linear-gradient(#fed14a, #e67403);
		-pie-background: linear-gradient(#fed14a, #e67403);
	}
	.b-rubric-menu._orange .b-rubric-menu-item:hover {
		background: #f4b028;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#feda59), to(#eb8b04));
		background: -webkit-linear-gradient(#feda59, #eb8b04);
		background: -moz-linear-gradient(#feda59, #eb8b04);
		background: -o-linear-gradient(#feda59, #eb8b04);
		background: linear-gradient(#feda59, #eb8b04);
		-pie-background: linear-gradient(#feda59, #eb8b04);
	}
	.b-rubric-menu._orange .b-rubric-menu-item__arr {
		background-image: url(../img/rubric_menu_item_arr_orange.png);
	}

.b-tips-list-item {
	font-size: 14px;
	font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	display: block;
	position: relative;
	padding: 26px 30px 26px 80px;
	border: 1px solid transparent;
	border-radius: 5px;
}
.b-tips-list-item._grad {
	background: #def3cd;
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0%, #fff), color-stop(34%, #fff), color-stop(42%, #fbfdf9), color-stop(70%, #e3f5d5), color-stop(82%, #def3cd), color-stop(88%, #e0f3d0), color-stop(100%, #f2f8ec));
	background: -webkit-linear-gradient(#fff 0%, #fff 34%, #fbfdf9 42%, #e3f5d5 70%, #def3cd 82%, #e0f3d0 88%, #f2f8ec 100%);
	background: -moz-linear-gradient(#fff 0%, #fff 34%, #fbfdf9 42%, #e3f5d5 70%, #def3cd 82%, #e0f3d0 88%, #f2f8ec 100%);
	background: -o-linear-gradient(#fff 0%, #fff 34%, #fbfdf9 42%, #e3f5d5 70%, #def3cd 82%, #e0f3d0 88%, #f2f8ec 100%);
	background: linear-gradient(#fff 0%, #fff 34%, #fbfdf9 42%, #e3f5d5 70%, #def3cd 82%, #e0f3d0 88%, #f2f8ec 100%);
	-pie-background: linear-gradient(#fff 0%, #fff 34%, #fbfdf9 42%, #e3f5d5 70%, #def3cd 82%, #e0f3d0 88%, #f2f8ec 100%);
	border-color: #ccccba;
}
	.b-tips-list-item__icon {
		width: 84px;
		position: absolute;
		margin: -17px 0 0 -90px;
	}
		.b-tips-list-item__icon img {
			float: right;
		}

.b-tips-list {
	position: relative;
}
	.b-tips-list__separ {
		width: 15px;
	}

.b-news-short {}
	.b-news-short__aside {
		float: left;
	}
	.b-news-short__title {
		font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		font-size: 24px;
	}
	.b-news-short__more {
		font-size: 12px;
		margin-top: 7px;
	}
	.b-news-short__main {
		margin: 11px 0 0 190px;
	}
		.b-news-short__main__wrap {
			width: 100%;
			float: left;
		}
		.b-news-short__main dl {
			margin-top: 7px;
		}
		.b-news-short__main dl:first-child {
			margin-top: 0;
		}
		.b-news-short__main dt {
			width: 80px;
			float: left;
		}
		.b-news-short__main dd {
			margin-left: 90px;
		}

.b-partners-bonus-list {
	width: 100%;
}
	.b-partners-bonus-list__item {
		width: 1%;
	}
	.b-partners-bonus-list a {
		height: 39px;
		display: block;
		overflow: hidden;
	}
	.b-partners-bonus-list a:hover img {
		margin-top: -39px;
	}

.b-partners-bonus {
	background: #fff;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
}
	.b-partners-bonus__title {
		font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
		color: #33b15d;
		float: left;
		padding: 9px 17px 12px;
	}
	.b-partners-bonus__list {
		margin-left: 280px;
	}

.b-index-page {}
	.b-index-page .b-index-title {
		margin-top: -63px;
	}
	.b-index-page .b-index-cols {
		margin-top: 10px;
	}
	.b-index-page .b-tips-list {
		margin-top: 20px;
	}
	.b-index-page .b-news-short {
		margin-top: 11px;
	}
	.b-index-page .b-partners-bonus {
		margin-top: 28px;
	}





    /* individual layout */

.b-individual-map {
    height: 385px;
    background: url(../img/individual_map.jpg) 50% 0 no-repeat;
    position: relative;
}

.b-individual-map .holder {
    position: relative;
    margin:0 auto;
    height: 385px;
    width: 1000px;
}


h1, h2, h3, h4, h5, .yellow-button, .green-button {
    font-family: 'OpenSansBold','Myriad Pro','Trebuchet MS',sans-serif;
}

.b-individual-map .layer {
    height: 385px;
    left: 0;
    margin-left: 0;
    position: absolute;
    width: 100%;
}


.b-individual-map .inactive {
    background: url('../img/individual-map-white.jpg') no-repeat scroll center center transparent;
    opacity: 0;
}
.b-individual-map .visible .inactive {
    opacity: 1;
}

.b-individual-map .vectors {
    background: url('../img/individual-vectors.png') no-repeat scroll center center transparent;
    z-index: 2;
}

.debug .b-individual-map .dev {
    background: url('../img/temp/individual-map-dev.jpg') no-repeat scroll center center transparent;
    opacity: 0.6;
}

.b-individual-map .yellow-button {
    position: absolute;
    width: 200px;
}


.b-individual-map .yellow-button ul {
    background: url("../img/buttons-sprite.png") no-repeat scroll left bottom transparent;
    line-height: 22px;
    margin-left: -5px;
    margin-top: -7px;
    opacity: 0;
    padding-bottom: 34px;
    padding-left: 37px;
    padding-top: 13px;
    width: 145px;
    z-index: -1;
    position: relative;
}

.b-individual-map .yellow-button .highlighted {
    background: url('../img/individual-map-hl-sprite-bullet.png');
    opacity: 0;
    position:absolute;
    z-index: 2;
}

.b-individual-map h4 {
    background: url("../img/buttons-sprite.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-weight: normal;
    height: 39px;
    line-height: 34px;
    text-align: center;
    width: 182px;
    cursor: pointer;
    z-index: 4;
    position: relative;
}

.b-individual-map .yellow-button:hover h4 {
    background: url("../img/buttons-sprite.png") no-repeat scroll -225px 0 transparent;
}

.b-individual-map .y-list:hover ul {
    opacity: 1;
    z-index: 3;
}

.b-individual-map .yellow-button:hover .highlighted {
    opacity: 1;
}

.b-individual-map .yellow-button .highlighted:hover {
    opacity: 1;
}

.b-individual-map .yellow-button ul, .b-individual-map .inactive, .b-individual-map .yellow-button .highlighted, .nav-rubrics ul {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

/*
.b-individual-map .yellow-button .highlighted {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

*/

.b-individual-map .property {
    left: 89px;
    top: 56px;
}
.b-individual-map .car {
    left: 470px;
    top: 154px;
}
.b-individual-map .travel {
    left: 660px;
    top: 54px;
}
.b-individual-map .health {
    left: 840px;
    top: 133px;
}

.b-individual-map .property .highlighted {
    background-position: 0 -139px;
    height: 260px;
    left: 1px;
    top: -2px;
    width: 446px;
}
.b-individual-map .car .highlighted {
    background-position: -4px -407px;
    height: 83px;
    left: -12px;
    top: 58px;
    width: 175px;
}
.b-individual-map .travel .highlighted {
    background-position: -182px -401px;
    height: 59px;
    left: -204px;
    top: 0;
    width: 115px;
}
.b-individual-map .health .highlighted {
    background-position: -302px -407px;
    height: 125px;
    left: -145px;
    top: 50px;
    width: 201px;
}





/* kom-index-2-b page */
.debug .dev-layout-kom-index-2-b {
    background: url('../img/temp/kom-index-2-b-layout.jpg') top center;
    position: absolute;
    height: 983px;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 1;
    z-index: -1;
}

.debug .b-page {
    opacity: 0.7;
}


.content-menu {
    height: 200px;
    position: relative;
}


h1, h2, h3, h4, h5 {
    font-family: 'OpenSansBold','Myriad Pro','Trebuchet MS',sans-serif;
}

h1 {
    font-size: 29px;
    letter-spacing: 0.55px;
}


.content-menu h1 {
    background: url("../img/the-sprite.png") repeat scroll 10px -296px transparent;
    height: 79px;
    line-height: 79px;
    margin-left: -21px;
    padding-left: 275px;
    position: absolute;
    top: 82px;
    width: 717px;
}
.content-menu ul {
    padding-left: 285px;
    height: 200px;
    background-position: 0 -4px;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
}

.content-menu li {
    float: left;
    height: 81px;
    margin-right: 12px;
    width: 147px;
}

.content-menu li a {
    display: block;
    width: 147px;
    height: 25px;
    text-align: center;
    padding-top: 56px;
    border: 1px solid #e4e5d3;
}
.content-menu li a:hover {
    border-color: #ffd44d;
    background-color: #fff;
}

.content-menu ul.family {
    background-image: url("../img/family-medium.png");
}

.upper-links {
    left: 366px;
    position: absolute;
    top: 169px;
    z-index: 5;
}
.upper-links a {
    text-decoration: none;
    border-bottom: 1px dotted #289f50;
}

.upper-links span {
    background: url("../img/the-sprite.png") no-repeat scroll right -742px transparent;
    padding-left: 6px;
    padding-right: 13px;
}
.content-menu .individual a {
    background-image: url('../img/ind-icons-small.png');
}

.content-menu .individual li.property a {
    background-position: -27px -12px;
}
.content-menu .individual li.travel a {
    background-position: -188px -12px;
}
.content-menu .individual li.health a {
    background-position: -348px -12px;
}
.content-menu .individual li.car a {
    background-position: -508px -12px;
}





h2 {
    font-size: 16px;
    text-align: center;
}


.col1 {
    margin-top: 11px;
    width: 209px;
    float: left;
}

h2.green-bubble {
    background: url("../img/the-sprite.png") no-repeat scroll -13px -249px transparent;
    color: #FFFFFF;
    height: 41px;
    line-height: 29px;
    width: 224px;
    margin-bottom: -2px;
}


.col1 h3 {
    color: #10642C;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 3px;
    margin-left: 10px;
    margin-top: 3px;
    padding-top: 4px;
    width: 186px;
}

.col1 ul {
    font-size: 15px;
    line-height: 16px;
}


.col1 ul li:first-child, .col1 h4:first-child, .col1 ul li.active, .col1 ul li.active + li {
    border: none;
}

.col1 ul li, .col1 h4 {
    border-top: 1px dotted #D8E7B3;
}

.col1 ul li {
    margin-left: 10px;
    padding-bottom: 7px;
    padding-top: 6px;
    width: 186px;
}

.col1 ul a {
    background: url("../img/the-sprite.png") no-repeat scroll -15px -124px transparent;
    display: block;
    padding-left: 20px;
    text-decoration: none;
}

.col1 ul li.active {
    background: url("../img/the-sprite.png") no-repeat scroll -254px -241px transparent;
    border: medium none;
    color: #FFFFFF;
    height: 44px;
    line-height: 48px;
    margin-left: 0;
    margin-top: -7px;
    padding-bottom: 0;
    padding-left: 30px;
    padding-top: 0;
    width: 200px;
}


.col2 {
    float: left;
    margin-left: 42px;
    margin-top: 17px;
    font-size: 13px;
    width: 429px;
}

.col2 h2 {
    color: #337F4A;
    font-size: 17px;
    letter-spacing: -0.23px;
    text-align: left;
}

.col2 ul {
    margin-bottom: 12px;
    margin-top: 22px;
}

.col2 ul li {
    background: url("../img/the-sprite.png") no-repeat scroll -16px -11px transparent;
    padding-bottom: 10px;
    line-height: 18px;
    padding-left: 21px;
}


.col3 {
    float: left;
    margin-left: 20px;
    margin-top: -36px;
    width: 250px;
}

.col3 h3 {
    color: #127530;
    font-size: 18px;
    margin-bottom: 11px;
    text-align: center;
}

/* smaller banner rotator */
.small .b-banner-slider__arr._prev {
    background-image: url("../img/banner_slider_arr_prev_small.png");
}

.small .b-banner-slider__arr._next {
    background-image: url("../img/banner_slider_arr_next_small.png");
}

.small .b-banner-slider__arr:hover {
    background-position: 0 -25px;
}
.small .b-banner-slider__arr {
    height: 24px;
    width: 24px;
}

.small .b-banner-slider-item__title {
    height: 40px;
}

.small .b-banner-slider-item__pic {
    height: 130px;
}

.small .b-banner-slider .b-banner-slider-item {
    width: 250px;
}

.small .b-banner-slider-item__title {
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}

.small .b-banner-slider-nav-item__normal div, .small .b-banner-slider-nav-item__active div {
    height: 9px;
    width: 9px;
}

.small .b-banner-slider .b-banner-slider-nav {
    bottom: 2px;
}

/* end of smaller banner rotator */


.col3 ._green {
    margin-top: 30px;
}

.col3 ._orange {
    margin-top: 16px;
}

/* footer */

.footer-buttons {
    clear: both;
    padding-top: 10px;
    font-family: 'OpenSansBold', 'Myriad Pro', 'Trebuchet MS', sans-serif;
}

.footer-buttons li {
    background: url("../img/the-sprite.png") repeat-x scroll -1px -670px transparent;
    border: 1px solid #D3D3D3;
    border-radius: 5px 5px 5px 5px;
    float: left;
    height: 68px;
}

.footer-buttons a {
    background-image: url("../img/the-sprite.png");
    display: block;
    line-height: 72px;
    padding-left: 83px;
    text-decoration: none;
}
.footer-buttons .one {
    margin-right: 15px;
    width: 282px;
}
.footer-buttons .two {
    margin-right: 15px;
    width: 398px;
}
.footer-buttons .three {
    width: 234px;
}

.footer-buttons .one a {
    background-position: -3px -367px;
}
.footer-buttons .two a {
    background-position: 0 -461px;
}
.footer-buttons .three a {
    background-position: 0 -558px;
}


/* end of kom-index-2-b */



/* corporate-map */

.b-corporate-map {
    height: 398px;
    position: relative;
}

.b-corporate-map .holder {
    position: relative;
    margin:0 auto;
    height: 385px;
    width: 1000px;
}


.b-corporate-map .layer {
    background-position: center top;
    background-repeat: no-repeat;
    height: 385px;
    left: 0;
    margin-left: 0;
    position: absolute;
    width: 100%;
}

.b-corporate-map .wide {
    margin-left: -27px;
    margin-top: -76px;
    height: 496px;
}

.b-corporate-map .active {
    background-image: url('../img/corporate-map-wide.jpg');
}


.b-corporate-map .inactive {
    background-image: url('../img/corporate-map-wide-white.jpg');
    opacity: 0;
}
.b-corporate-map .visible .inactive {
    opacity: 1;
}

.b-corporate-map .vectors {
    background: url('../img/corporate-vectors.png') no-repeat scroll center top transparent;
}

.debug .b-corporate-map .dev {
    background: url('../img/temp/corporate-map-dev.jpg') no-repeat scroll center top transparent;
    opacity: 0.6;
}

.b-corporate-map .green-button {
    position: absolute;
    width: 200px;
}


.b-corporate-map .green-button ul {
    background: url("../img/buttons-sprite.png") no-repeat scroll left bottom transparent;
    line-height: 22px;
    margin-left: -5px;
    margin-top: -7px;
    opacity: 0;
    padding-bottom: 34px;
    padding-left: 37px;
    padding-top: 13px;
    width: 145px;
    z-index: -1;
    position: relative;
}

.b-corporate-map .green-button .highlighted {
    background: url('../img/corporate-map-hl-sprite-bullet.png');
    opacity: 0;
    position:absolute;
    z-index: 2;
}

.b-corporate-map h4 {
    background: url("../img/buttons-sprite.png") no-repeat scroll 0 -99px transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: normal;
    height: 39px;
    line-height: 34px;
    position: relative;
    text-align: center;
    width: 184px;
    z-index: 4;
}

.b-corporate-map .green-button:hover h4 {
    background: url("../img/buttons-sprite.png") no-repeat scroll -225px -99px transparent;
}

.b-corporate-map .y-list:hover ul {
    opacity: 1;
    z-index: 3;
}

.b-corporate-map .green-button:hover .highlighted {
    opacity: 1;
}

.b-corporate-map .green-button .highlighted:hover {
    opacity: 1;
}

.b-corporate-map .green-button ul, .b-corporate-map .inactive, .b-corporate-map .green-button .highlighted {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

/*
.b-corporate-map .yellow-button .highlighted {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

*/

.b-corporate-map .responsibility {
    left: 146px;
    top: 260px;
}
.b-corporate-map .cargo {
    left: 225px;
    top: 59px;
}
.b-corporate-map .health {
    left: 480px;
    top: 59px;
}
.b-corporate-map .car {
    left: 541px;
    top: 266px;
}
.b-corporate-map .property {
    left: 690px;
    top: 120px;
}

.b-corporate-map .responsibility .highlighted {
    background-position: -541px -1px;
    height: 253px;
    left: -171px;
    top: -259px;
    width: 355px;
}
.b-corporate-map .cargo .highlighted {
    background-position: -5px 0;
    height: 171px;
    left: 22px;
    top: 53px;
    width: 276px;
}
.b-corporate-map .health .highlighted {
    background-position: -324px -179px;
    height: 84px;
    left: -26px;
    top: 118px;
    width: 101px;
}
.b-corporate-map .car .highlighted {
    background-position: -357px -288px;
    height: 88px;
    left: -7px;
    top: -84px;
    width: 161px;
}
.b-corporate-map .property .highlighted {
    background-position: 0 -288px;
    height: 273px;
    left: -71px;
    top: -92px;
    width: 344px;
}

/* end of corporate map */


/* nav-rubrics */
.b-news-short__main-left {
    margin-left: 32px;
    width: 473px;
}
.nav-rubrics div, .b-news-short__main-left {
    float: left;
    position: relative;
}

.nav-rubrics ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-image: url('../img/buttons-sprite.png');
    margin-top: -12px;
    padding:14px;
    font-size: 12px;
}

.nav-rubrics ul a {
    color: #fff;
}

.nav-rubrics .orange ul {
    background-position: -407px -302px;
    width: 142px;
    margin-left: -9px;
}

.nav-rubrics .green ul {
    background-position: -204px -302px;
    width: 134px;
    margin-left: 12px;
}


.nav-rubrics .orange h3 {
    background-position: -163px -161px;
    width: 163px;
}

.nav-rubrics .green h3 {
    background-position: 0 -161px;
    width: 151px;
}

.nav-rubrics .orange:hover h3 {
    background-position: -163px -223px;
}

.nav-rubrics .green:hover h3 {
    background-position: 0 -223px;
}

.nav-rubrics .orange:hover ul {
    visibility: visible;
    opacity: 1;
}

.nav-rubrics .green:hover ul {
    visibility: visible;
    opacity: 1;
}



.nav-rubrics h3 {
    background-image: url("../img/buttons-sprite.png");
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    height: 52px;
    line-height: 16px;
    padding-bottom: 0;
    padding-left: 12px;
    padding-top: 10px;
    text-transform: uppercase;
}

